/* header/nav */
header {
    display: flex;
    width: 100%;
    background: #d33a2c;
    padding: 20px;
}

.nav {
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav > img {
    height: 50px;
    width: 50px;
}

.nav h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1px;
}

.nav h4 {
    font-size: 15px;
}

.nav-search {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 5px solid white;
    border-radius: 10px;
    width: 100px;
    margin-right: 40px;
    color: white;
    text-decoration: none;
}

.nav-search > i {
    padding-right: 10px;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo > img {
    height: 70px;
    width: 70px;
    padding-right: 10px;
}

.logo h1 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1px;
    color: white;
}

.logo h2 {
    font-size: 15px;
    color: white;
}

/* end header/nav */

/* articles */

.articles {
    display: flex;
    flex-wrap: wrap;
}

.articles > a {
    flex: 2;
}

.article-header {
    background: linear-gradient(
        to right,
        #bc3428 50%,
        #c7372a 50%
    );
    background-color: transparent;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.promo {
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    align-self: center;
}

.promo-container {
    display: flex;
    flex-direction: column;
}

.article-items {
    display: flex;
    width: 50%;
    flex-direction: column;
    
    justify-content: flex-end;
    align-content: center;
    color: white;
    text-decoration: none;
}

.article-items a {
    color: white;
    text-decoration: none;
}

.article-wrapper {
    display: flex;
    padding: 30px;
    flex-direction: column;
    margin-bottom: 50px;
    color: white;
}

.article-items > a:last-of-type {
    padding-left: 25px;
    padding-bottom: 20px;
}

.article-items > a:last-of-type > i {
    font-size: 50px;
}

.article-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.article-title > :not(:first-child) {
    margin-right: 15px;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.article-footer > a {
    display: flex;
}