/* header/nav */
header {
    display: flex;
    width: 100%;
    background: #d33a2c;
    padding: 20px;
}

.nav {
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav > img {
    height: 50px;
    width: 50px;
}

.nav h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1px;
}

.nav h4 {
    font-size: 15px;
}

.nav-search {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 40px;
    border: 5px solid white;
    border-radius: 10px;
    width: 100px;
    margin-right: 40px;
    color: white;
    text-decoration: none;
}

.nav-search > i {
    padding-right: 10px;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo > img {
    height: 70px;
    width: 70px;
    padding-right: 10px;
}

.logo h1 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1px;
    color: white;
}

.logo h2 {
    font-size: 15px;
    color: white;
}

/* end header/nav */

/* articles */

.articles {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 2fr 1fr; 
}

.article-items {
    display: flex;
    flex-direction: column;
    background-color: #bc3428;
    justify-content: flex-end;
    align-content: center;
    color: white;
    text-decoration: none;
}

.article-wrapper {
    display: flex;
    flex-direction: column;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.article-footer > a {
    display: flex;
}